:root {
  --gallery-font: 'Karla', sans-serif;
}

.recipe-container {
  margin-top: 1.5rem;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img,
.hover-1 img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content,
.hover-1-content {
  position: relative;
  z-index: 99;
}

.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  font-family: var(--gallery-font);
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
  font-family: var(--gallery-font);
  font-size: 22px;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
  background-color: #b18181b7;
  color: #261717;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
  background-color: #3f2727;
  color: white;
  border-radius: 10% 89% 11% 90%/88% 12% 85% 15%;
  padding: 1rem;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .hover img,
  .hover-1 img {
    width: 100%;
    left: 0;
  }

  .hover-1-content {
    top: 0.5rem;
  }

  .hover-1-content h3 {
    font-size: 1rem;
  }

  .hover-1-description {
    font-size: 12px;
    width: 100%;
  }
}
