.main-banner {
  margin-top: 22px;
  border-radius: 26px;
  background-image: url('../../assets/main-banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: 'Delius', cursive;
  text-transform: uppercase;
  color: #f1faee;
  font-size: 4rem;
  margin: 0;
}

.roller {
  height: 4.125rem;

  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d3557;
  background-color: rgba(255, 255, 255, 0.482);
}

#site-name {
  font-size: 28px;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #0b4708;
}

.roller #roll-text {
  position: absolute;
  font-family: 'Delius', cursive;
  top: 0;
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f1faee;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #site-name {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #roll-text {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}

#welcome-msg {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #1d3557;
  border-radius: 1rem;
  color: white;
  font-family: 'Delius', cursive;
}

#gallery {
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
