img {
    margin-right: 2rem;
}

h2 {
    margin-right: 4rem;
    color: #3E2015;
}

.nav-bar {
    background-color: #f8f5f2;
    padding-left: 2rem;
    color: #3E2015;
}

.nav-link a {
    font-family: 'Lato';
    font-size: 1.2rem;
    color: #3E2015;
    
}

.nav-dropdown a {
    color: #3E2015;
}