.footer {
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f8f5f2;
}

.footer a {
  color: #3e303b;
  font-size: 32px;
  transition: color 0.3s, transform 0.3s;
}

.footer a:hover {
  color: #88585a;
  transform: scale(1.2);
}

.copyright {
  font-size: 18px;
  color: #3e303b;
  display: flex;
  justify-content: center;
}
